{% extends 'AppSamuel/base.html' %}

{% load static %}

{% block title %} Login {% endblock title %}

{% block main %}

    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="w-50">
            <h2 class="text-center mb-4">Iniciar sesión</h2>

            {% if msg_login %}
                <div class="alert alert-danger">
                    {{ msg_login }}
                </div>
            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <table>
                        {{ form.as_table}}
                    </table>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </div>
            </form>

            <div class="text-center mt-4">
                <a href="{% url 'Register' %}" class="btn btn-secondary">Registrarse</a>
            </div>
        </div>
    </div>

{% endblock main %}
