{% extends 'AppSamuel/base.html' %}

{% block main %}
<div class="container mt-4">
    <h1>Buscar Libros</h1>

    <!-- Formulario de búsqueda -->
    <form action="{% url 'Inicio' %}" method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="query" placeholder="Buscar por título, autor o categoría..." value="{{ query }}">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>

    <!-- Resultados de búsqueda -->
    {% if query %}
        <h2>Resultados de búsqueda para "{{ query }}"</h2>
        
        <!-- Libros -->
        <h3>Libros</h3>
        {% if libros %}
            <ul class="list-group">
                {% for libro in libros %}
                    <li class="list-group-item">
                        <strong>{{ libro.titulo }}</strong>
                        {% if libro.autor %} - Autor: {{ libro.autor.nombre }} {{ libro.autor.apellido }} {% endif %}
                        {% if libro.categoria %} - Categoría: {{ libro.categoria }}{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron libros.</p>
        {% endif %}

        <!-- Autores -->
        <h3>Autores</h3>
        {% if autores %}
            <ul class="list-group">
                {% for autor in autores %}
                    <li class="list-group-item">
                        <strong>{{ autor.nombre }} {{ autor.apellido }} </strong>
                        <!-- Aquí puedes añadir más detalles del autor si es necesario -->
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron autores.</p>
        {% endif %}

        <!-- Categorías -->
        <h3>Categorías</h3>
        {% if categorias %}
            <ul class="list-group">
                {% for categoria in categorias %}
                    <li class="list-group-item">
                        <strong>{{ categoria.categoria }}</strong>
                        <!-- Aquí puedes añadir más detalles de la categoría si es necesario -->
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron categorías.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock main %}
